<template>
    <div class="index">
        <div v-for="(item, key) in newsListShow" :key="key">
            <news-cell
                    :newsDate="item"
                    :key="key"
            >
            </news-cell>
        </div>
    </div>
</template>

<script>
  import NewsCell from '@/components/NewsCell.vue'
  import { course } from "@/api/login.js"
  export default {
    name: 'index',
    data() {
      return {
        newsListShow: [],
      }
    },
    components: {
      NewsCell
    },
    created() {
      this.setNewsApi()
    },
    methods: {
      setNewsApi() {
        course().then(rel => {
          this.newsListShow = rel
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .index{
        width: 1200px;
        margin: 0 auto;
    }
    .topNav {
        width: 100%;
        background: #ED4040;
        position: fixed;
        top: 0rem;
        left: 0;
        z-index: 10;
    }

    .simpleNav {
        width: 100%;
        line-height: 1rem;
        overflow: hidden;
        overflow-x: auto;
        text-align: center;
        font-size: 0;
        font-family: '微软雅黑';
        white-space: nowrap;
    }

    .simpleNav::-webkit-scrollbar {
        height: 0px
    }

    .simpleNavBar {
        display: inline-block;
        width: 1.2rem;
        color: #fff;
        font-size: 0.3rem;
    }

    .navActive {
        color: #000;
        border-bottom: 0.05rem solid #000;
    }

    .placeholder {
        width: 100%;
        height: 1rem;
    }
</style>