<template>
    <div style="width: 1200px; margin: 0 auto">
        <div>
            <el-button @click="add()" type="success">添加</el-button>
        </div>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="id"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="course_name"
                    label="姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="autor"
                    label="autor">
            </el-table-column>
            <el-table-column
                    prop="college"
                    label="college">
            </el-table-column>
            <el-table-column
                    prop="category_Id"
                    label="category_Id">
            </el-table-column>
            <el-table-column fixed="right" align="center" width="300" label="操作">
                <template slot-scope="scope">
                    <el-button size="mini"  type="warning"
                               @click="del(scope.row.id)">删除
                    </el-button>
                    <el-button size="mini" @click="edit(scope.row.id, scope.row)" type="info">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog
                title="提示"
                :visible.sync="dialogVisible"
                width="50%">

            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="活动名称">
                    <el-input :disabled="typeSubmit==='e'" v-model="ruleForm.id"></el-input>
                </el-form-item>
                <el-form-item label="活动形式">
                    <el-input type="input" v-model="ruleForm.course_name"></el-input>
                </el-form-item>
                <el-form-item label="活动形式">
                    <el-input type="input" v-model="ruleForm.autor"></el-input>
                </el-form-item>
                <el-form-item label="活动形式" >
                    <el-input type="input" v-model="ruleForm.college"></el-input>
                </el-form-item>
                <el-form-item label="活动形式">
                    <el-input type="input" v-model="ruleForm.category_Id"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
  </span>
        </el-dialog>
    </div>
</template>

<script>
  import { course, courseSubmit, courseDel, courseEdit } from "@/api/login.js"
  export default {
    data() {
      return {
        editID: '',
        ruleForm: {
          id: '',
          course_name: '',
          autor: '',
          college: '',
          category_Id: ''
        },
        rules: {
          name: [
            { required: true, message: '请输入活动名称', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          region: [
            { required: true, message: '请选择活动区域', trigger: 'change' }
          ],
          date1: [
            { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
          ],
          date2: [
            { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
          ],
          type: [
            { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
          ],
          resource: [
            { required: true, message: '请选择活动资源', trigger: 'change' }
          ],
          desc: [
            { required: true, message: '请填写活动形式', trigger: 'blur' }
          ]
        },
        dialogVisible: false,
        tableData: [],
        typeSubmit: ''
      }
    },
    mounted() {
      this.getList()
    },
    methods: {
      edit(id, row) {
        this.dialogVisible = true
        this.typeSubmit = 'e'
        this.ruleForm = row
        this.editID = id
      },
      add() {
        this.dialogVisible = true
        this.typeSubmit = 'c'
      },
      del(data) {
        courseDel(data).then(() => {
          alert('删除成功')
          this.getList()
        })
      },
      getList() {
        const parm = {}
        parm._page = 2
        parm._limit= 5
        course(parm).then(rel => {
          this.tableData = rel
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (this.typeSubmit === 'c') {
              courseSubmit(this.ruleForm).then(() => {
                this.dialogVisible = false
                this.getList()
              })
            } else {
              courseEdit(this.editID, this.ruleForm).then(() => {
                this.dialogVisible = false
                this.getList()
              })
            }
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      }
    }
  }
</script>

<style scoped>

</style>