<template>
    <div class="width_1200 index">
        当前登录用户名：{{userName}}
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
        <p>1</p>
    </div>
</template>

<script>
  export default {
    name: 'index',
    data() {
      return {
        newsListShow: [],
      }
    },
    computed: {
      userName() {
        return this.$store.state.name
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .topNav {
        width: 100%;
        background: #ED4040;
        position: fixed;
        top: 0rem;
        left: 0;
        z-index: 10;
    }
    .index{
        width: 1200px;
        margin: 0 auto;
    }

    .simpleNav {
        width: 100%;
        line-height: 1rem;
        overflow: hidden;
        overflow-x: auto;
        text-align: center;
        font-size: 0;
        font-family: '微软雅黑';
        white-space: nowrap;
    }

    .simpleNav::-webkit-scrollbar {
        height: 0px
    }

    .simpleNavBar {
        display: inline-block;
        width: 1.2rem;
        color: #fff;
        font-size: 0.3rem;
    }

    .navActive {
        color: #000;
        border-bottom: 0.05rem solid #000;
    }

    .placeholder {
        width: 100%;
        height: 1rem;
    }
</style>