
<template>
    <div class="productShare box" ref="box">
        <img v-if="imgUrl" :src="imgUrl" alt="分享图片">
        <div v-else style="position: relative" ref="box" class="qrcode_wrap">
            <img src="../../../public/fdz_zwzd.png">
            <div id="qrcode" class="qrcode"></div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
  import { qrcanvas } from 'qrcanvas'
  import html2canvas from 'html2canvas';
  export default {
    data() {
      return {
        imgUrl: null
      }
    },
    created() {
      let that = this;
      that.appSrc = "www.baicu.com";
      that.$nextTick(function () {
        //生成二维码
        var canvas1 = qrcanvas({
          data: decodeURIComponent(that.appSrc),
          size:100
        });
        document.getElementById("qrcode").innerHTML = '';
        document.getElementById('qrcode').appendChild(canvas1);

        //合成分享图
        html2canvas(that.$refs.box).then(function(canvas) {
          let dataURL = canvas.toDataURL("image/png");
          that.imgUrl = dataURL;
        });
      });
    }
  }
</script>

<style scoped>
    .box{
        width: 320px;
        height: 476px;
        position: relative;
    }
    .qrcode_wrap{
        position: absolute;
        top: 0;
        left: 0;
    }
    .qrcode{
        position: absolute;
        top: 10%;
        left: 50%;
    }
</style>