<template>
  <div class="home">
    <headers/>
    <router-view/>
    <footers/>
  </div>
</template>

<script>
// @ is an alias to /src
import headers from '@/components/header.vue'
import footers from '@/components/footer.vue'
export default {
  components: {
    headers,
    footers
  }
}
</script>
