<template>
    <div class="login">
        <div class="l-form">
            <div class="l-tip">对公服务PC端</div>
            <el-form ref="form" :model="form">
                <el-form-item>
                    <el-input
                            v-model="form.name"
                            v-validate="{required:true}"
                            name="name"
                            :class="{'is-danger':errors.has('name')}"
                            data-vv-as="用户名"
                            placeholder="请输入用户名"
                    ></el-input>
                </el-form-item>
                <el-form-item>
                    <FormErrorMessage v-if="errors.has('name')">{{ errors.first('name') }}</FormErrorMessage>
                </el-form-item>

                <el-form-item>
                    <el-input
                            v-model="form.password"
                            type="password"
                            v-validate="{required:true}"
                            name="password"
                            :class="{'is-danger':errors.has('password')}"
                            data-vv-as="密码"
                            placeholder="请输入密码"
                    ></el-input>
                </el-form-item>
                <el-form-item>
                    <FormErrorMessage v-if="errors.has('password')">{{ errors.first('password') }}</FormErrorMessage>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="sub">登录</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    import { login } from "@/api/login.js"
  import FormErrorMessage from '@/components/FormErrorMessage.vue'
  export default {
    name: 'Login',
    components: {
      FormErrorMessage
    },
    data() {
      return {
        form: {
          name: '',
          password: ''
        }
      }
    },
    methods: {
      sub() {
        login()
            .then(() => {
              this.$store.commit('loginIn', this.form.name)  //保存登录状态
              this.$router.push({
                name: "首页",
                path: '/home/homePage'
              })
            })
      }
    },
  }
</script>
<style lang="scss" scoped>
    .login {
        width: 100%;
        height: 100%;
        background: #000;
        .l-form {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 300px;
            margin: auto;
            border-radius: 8px;
            background: #fff;
            padding: 20px;
            .l-tip {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
            .el-form {
                width: 100%;
                margin: auto;
                margin-top: 20px;
                .el-form-item {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    .is-danger input {
        border-color: #ff3860;
    }
</style>
