<template>
    <div class="footer">
        我是底部
    </div>
</template>

<script type="text/ecmascript-6">
  export default {}
</script>

<style scoped>
    .footer{
        width: 100%;
        min-height: 100px;
        background: #999;
        color: #fff;
        text-align: center;
        line-height: 100px;
        font-size: 30px;
    }
</style>