<template>
    <div class="nav_wrap" id="headersWrap">
       <div class="toptab" ref="headers" id="headers">
           <div class="nav">
               <router-link class="nav_a" active-class="active" to="/home/homePage">首页</router-link>
               <router-link class="nav_a" active-class="active" to="/home/treasureBox">百宝箱</router-link>
               <router-link class="nav_a" active-class="active" to="/home/godCatchingCompass">神捕罗盘</router-link>
               <router-link class="nav_a" active-class="active" to="/home/anti-networkFraud">反网络诈骗</router-link>
               <router-link class="nav_a" active-class="active" to="/home/giganticNet">天罗地网</router-link>
               <router-link class="nav_a" active-class="active" to="/home/users">个人中心</router-link>
               <el-button style="float: right;margin-top: 20px" size="mini" @click="loginOut">退出</el-button>
           </div>
       </div>
    </div>
</template>

<script>
  export default {
    name: 'index',
    data() {
      return {
        offsetTop: 80
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.$refs.headers['className'] = '' // 取消置顶
        window.addEventListener('scroll', this.topTab)
      })
    },
    destroyed() {
      window.removeEventListener('scroll', this.topTab)
    },
    methods: {
      loginOut() {
        this.$store.commit('loginOut')
        location.reload()
      },
      topTab() {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop // 获取滚动值
        if (scrollTop > this.offsetTop) { // 稍微提前一点触发，可以不写
          this.$refs.headers['className'] = 'toptab'
          this.$refs.headers['style'].top = scrollTop - scrollTop + 'px'
          this.$refs.headersWrap['style'].top = 0 + 'px'
        } else {
          this.$refs.headers['className'] = '' // 取消置顶
          this.$refs.headersWrap['style'].top = 0 + 'px'
        }
      }
    }
  }
</script>
<style scoped>
    .nav_wrap{
        width: 100%;
        height: 60px;
        background: #f6f6f6;
        margin-bottom: 20px;
    }
    .nav{
        width: 1200px;
        margin: 0 auto;
    }
    .nav_a{
        display: inline-block;
        padding: 10px 10px;
        text-decoration: none;
        color: #333;
    }
    .active{
        color: #3388ff;
    }
    .toptab {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 60px;
        top: 0!important;
        background: #f6f6f6;
    }
</style>