<template>
    <div class="width_1200">
        <div>
            <router-link class="GT_nav_a" active-class="active" to="/home/giganticNet/controlPlan">
                管控计划
            </router-link>
            <router-link class="GT_nav_a" active-class="active" to="/home/giganticNet/eventAlarm">
                事件与告警
            </router-link>
        </div>


        <router-view class="GT_con_wrap"/>

    </div>
</template>

<script type="text/ecmascript-6">
  export default {}
</script>

<style scoped>
    .GT_nav_a{
        margin-left: 20px;
    }
    .active{
        color: #f17353;
    }
    .GT_con_wrap{
        width: 1200px;
        margin: 30px auto;
    }
</style>