<template>
    <div class="width_1200" style="overflow: hidden">
        <div class="user_nav_wrap">
            <router-link class="user_nav_a" active-class="active" to="/home/users/monitoringPersonnelParameter">
               监控人员台账
            </router-link>
            <router-link class="user_nav_a" active-class="active" to="/home/users/kuaiBuLing">
                快捕令
            </router-link>
            <router-link class="user_nav_a" active-class="active" to="/home/users/userInfo">
                个人资料
            </router-link>
            <router-link class="user_nav_a" active-class="active" to="/home/users/securitySettings">
                安全设置
            </router-link>
        </div>
        <router-view class="user_con_wrap"/>

    </div>
</template>

<script type="text/ecmascript-6">
  export default {}
</script>

<style scoped>
    .user_nav_wrap{
        float: left;
        width: 250px;
        min-height: 500px;
        background: #e9e4e675;
    }
    .user_con_wrap{
        width: 930px;
        float: right;
        background: #f6f6f6;
        min-height: 500px;
    }
    .user_nav_a{
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 10px;
    }
    .active{
        color: #f19b25;
    }
</style>